
"atom-workspace atom-text-editor":
  'alt-cmd-l': 'antescofo:Loadantescofo'
  'alt-cmd-enter': 'antescofo:startantescofo'
  'alt-cmd-p': 'antescofo:oscsend'
  'alt-cmd-n': 'antescofo:nextevent'
  'alt-cmd-b': 'antescofo:startfromlabel'
  'alt-cmd-s': 'antescofo:stoptantescofo'
